@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* utilities */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.common-btn{
    color: #fff;
    background-color: #E55473;
    padding: 20px 43px;
    border: #E55473;
    border-radius: 8px;
    cursor: pointer;
}

.common-btn:hover{
    color: #E55473;
    background-color: #fff;
}

/* banner style */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
    padding: 50px 200px 0;
    margin: 0;
}

.banner-texts {
    width: 400px;
}

.banner-head {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.banner-para {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.banner-img-sec{
    margin: -3px 0px;
}

.banner-img {
    height: 500px;
}